.slider {
    bottom: 0px;
    height: 90vh;
}

.slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: #fff;
  text-align: center;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

.phone-container {
    background-color: #fff;
    height: 70%
}

.phone-container img {
    height: 100%;
}
.intro {
    background-color: #cc6699;
}

.login {
    background-color: #cc6699;
}

.login form {
    background-color: #fff;
}

.login form .input-label {
    text-transform: uppercase;
    text-align: right;
}
.text-container {
    background-color: #cc6699;
    height: 30%;
    color: #fff;
}

.text-container .h2 {
    height: 100%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.text-container .h3 {
    height: 100%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.text-container .h4 {
    height: 100%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.text-container p {
    height: 100%;
    padding-top: 20px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.login label {
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}
