/* Empty. Add your own CSS if you like */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index:999;
    width:80px;
}

.truflrTitle {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -60px;
    z-index:99999;
    width:120px;
}


.bar-header {
    height: 53px;
    background-color:rgba(0, 0, 0, 0.53);
    color:#fff;

}

.headerButtons {
    height:40px;
}

.bar {
    height: 53px;
}

.title {
    min-height: 53px;
    color:#fff;
}

.ion-navicon {
    color:#fff;
}

.menu-item, .item-complex a {
    /*background-color: rgba(204, 102, 153, 0.45)!important;*/

    background-color: rgba(0, 0, 0, 0.35)!important;
    color:  #fff;
    border: none;
}

.menu-bg-left {
    top:    0px;
    background: url("../img/left.jpg");
    background-position-x: center;
}


.menu-bg-right {
    top:    0px;
    background: url("../img/right.jpg");
    background-position-x: center;
}

.menu-header{
    top:    53px;
}

#thermo-container {
    text-align: center;
}

#thermo-container button{
    margin-top: 30px;
    margin-bottom: 30px;
}

#thermo {
    margin-left: 25%;
}

.pale-teal {
    background-color: #99ffff;
}

.mTruffle {
    text-align: center;
}

.mTruffle img {
    width: 25%
}

.mTruffle p {
    text-align: center;
}

.mTruffle h2 {
    padding: 0 30px;
    text-align: center;
}

.mTruffle ion-scroll {
    padding: 0 30px 15px 30px;
    height: 200px;
}

.modal {
    background-color: #daf1ff;
}
.hide {
    display: none;
}
.h80 { height:80px;}

.h40 { height:40px;}

.white {color: #fff;}