<div class="modal intro">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear icon ion-close-round" menu-toggle="right" ng-click="close()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="menu-header">
        <ion-slide-box class="slider">
            <!-- SLIDE 1 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/Icons/snout.png" style="height: auto; width: 100%;" /><!-- phone screenshot goes here -->
                </div>
                <div id="fitText" class="stack info-text text-container">
                    <p class="h3">welcome to truflr<br />Get outside, start exploring, find truffles.</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 1 -->
            <!-- SLIDE 2 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/screens/map-screen.png" />
                </div>
                <div class="stack info-text text-container">
                    <p class="h3">This is the map, the main screen of truflr.</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 2 -->
            <!-- SLIDE 3 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/screens/map-screen-sniff.png" />
                </div>
                <div class="stack info-text text-container">
                    <p class="h3">Click the snout! truflr will sniff out any truffles nearby!</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 3 -->
            <!-- SLIDE 4 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/screens/map-screen-poi.png" />
                </div>
                <div class="stack info-text text-container">
                    <p class="h3">truflr smells some truffles! Click the pin to see truffle specific details</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 4 -->
            <!-- SLIDE 5 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/screens/blackaby-screen.png" />
                </div>
                <div class="stack info-text text-container">
                    <p class="h3">Here are the truffle details. We aren't close enough to collect it though.</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 5 -->
            <!-- SLIDE 6 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/screens/map-screen-inventory.png" />
                </div>
                <div class="stack info-text text-container">
                    <p class="h3">Truffles that you collect will be stored in your truffle sack! View collected by clicking the sack.</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 6 -->
            <!-- SLIDE 7 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/screens/map-screen-achieve.png" />
                </div>
                <div class="stack info-text text-container">
                    <p class="h3">Collect truffles to earn achievements! View your progress by clicking the trophy.</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 7 -->
            <!-- SLIDE 8 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/screens/map-screen-golden.png" />
                </div>
                <div class="stack info-text text-container">
                    <p class="h3">Golden Truffles!? These are special locations that require you to find a physical truffle beacon.</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 8 -->
            <!-- SLIDE 9 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/screens/thermo-screen.png" />
                </div>
                <div class="stack info-text text-container">
                    <p class="h3">The thermometer measures warmer the closer you are to the golden truffle. Get close enough and you can collect it!</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 9 -->
            <!-- SLIDE 1 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/Icons/snout.png" style="height: auto; width: 100%;" /><!-- phone screenshot goes here -->
                </div>
                <div class="stack info-text text-container">
                    <p class="h3">That's it, now go get truffling!</p><!-- explanation text goes here -->
                </div>
            </ion-slide>
            <!-- END SLIDE 1 -->
        </ion-slide-box>
    </ion-content>
</div>
