<div class="modal">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear ion-close-round" menu-toggle="right" ng-click="close()">Skip Intro</button>
        </div>
    </ion-header-bar>
    <ion-content class="menu-header">
        <ion-slide-box class="slider">
            <!-- SLIDE 1 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/icons/snout.png" /><!-- phone screenshot goes here -->
                </div>
                <div class="stack info-text text-container">
                    <h1>welcome to truflr</h1><!-- explanation text goes here -->
                    <p>Get outside, start exploring, find truffles.</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 1 -->
            <!-- SLIDE 2 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/Snout.png" />
                </div>
                <div class="stack info-text text-container">
                    <p>This is the info pertaining to screen 1.</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 2 -->
            <!-- SLIDE 3 -->
            <ion-slide class="slider-slide">
                <div class="stack phone-container">
                    <img src="img/Snout.png" />
                </div>
                <div class="stack info-text text-container">
                    <p>This is the info pertaining to screen 1.</p>
                </div>
            </ion-slide>
            <!-- END SLIDE 3 -->

        </ion-slide-box>
    </ion-content>
</div>
