<div class="modal pale-teal">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear icon ion-close-round" menu-toggle="right" ng-click="close();stopScan()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="menu-header">
        <div id="thermo-container">
            <!--<h3>{{inRange()}}</h3>-->
            <button id="truffleButton" class="button button-royal" ng-click="collect(truffleContext);close();stopScan()" ng-class="inRange() ? '' : 'disabled'">Collect Truffle</button>
            <div id="thermo"></div>
        </div>
        <!--<h3>{{distance}}</h3>--> 
        <!--<button ng-click="stopScan()">STOP SCAN</button>-->
    </ion-content>
</div>
